COMPOSE_PROJECT_NAME=promocode-manager

MONGO_PORT=27017
MONGODB_URI=mongodb://localhost:27017/promocode_manager

CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=default

REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=change-me-access-min-32-chars-long-secret
JWT_REFRESH_SECRET=change-me-refresh-min-32-chars-long-secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

BACKEND_PORT=3000
FRONTEND_PORT=5173
